*.exe
.vscode
*.json
ideas
ideas/*
*.o
*.bat
users/
global.json
resources/
resources/*
resources/*.*

*.py
obj/
obj/*
# What the hell? Python files in a C++ game??
# Naaah the python script just recompiles files that have been changed since the last compilation :P